*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #FFF;
}

@font-face {
    font-family: rubik;
    src: url(font/Rubik/static/Rubik-Light.ttf);
}
@font-face {
        src: url(font/Dosis/Dosis-VariableFont_wght.ttf);
        font-family: Dosis;
    }

@font-face {
    font-family: pk;
    src: url(font/planet_kosmos/PLANK___.TTF);
}
/*header*/

header{
    width: 100%;
    height: auto;
    background-color: black;
}

.navbar{
    width: 100%;
    height: 78px;
    padding-bottom: 170px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.xander{
    margin: 70px 0 0 40px ;
    float: left;
    color: #FFF;
    font-family: Dosis;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav ul{
    width: 400px;
    height: 25px;
    display: flex;
    margin-top: 70px;
}

.navbarlinks li{
    width: fit-content;
    height: fit-content;
    float: left;    
}

.navbarlinks a{
    display: block;
    color: #FFF;
    text-align: right;
    font-family: Dosis;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 13px; /* 100% */
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    margin: 0 1.26em;
    padding: 0.618em;
    text-decoration: none;
    animation: glow 1s ease-out  infinite normal forwards;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    flex-direction: column;
    background-color: rgb(32, 31, 31);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
    list-style-type: none;
}

.sidebar > li{
    letter-spacing: 3px;
    margin: 10px 0 0 25px;
}

.sidebar > li > a{
    color: #FFF;
    font-family: dosis;
    font-size: 18px;
    font-style: normal;
    font-weight: lighter;
    text-transform: uppercase;
    list-style: none;
    animation: glow 1s ease-out  infinite normal forwards;
    cursor: pointer;
    text-decoration: none;
}

.hamburger-close{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #fff;
}

.first-line{
    background-color: #fff;
    transform: rotate(45deg);
}

.sec-line{
    background-color: #fff;
    transform: rotate(-45deg);
}

.hamburger{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 25px;
}

.hamburger .line{
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 6px;
}


@keyframes glow{
    100%{
        text-shadow: 10px #FFF;
    }
}
/*hover*/

nav ul li a:hover{
    color: rgb(45, 43, 43);
    text-shadow: 5px #FFF;
    cursor: pointer;
}

/*continue*/
.header-video{
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
}

.header-video .video{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.brand{
    color: #FFF;
    font-family: pk;
    font-size: 150px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer{
    width: 100%;
    height: 300px;
    background-color: rgb(20, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer article{
    margin: auto;
    background-color: #FFF;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer article img{
    margin-top: 5px;
    width: 15px;
    height: 15px;
}
/*resonsive*/

@media screen and (max-width: 700px){
        .navbar{
        height: 50px;
        flex-direction: column;
        align-items: flex-start;
        position: ;
        padding-bottom: 0;
        background-color: rgb(32, 31, 31);
        }

        .xander{
        margin:20px 0 0 20px ;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px; /* 100% */
        }

        nav  ul{
        width: 100%;
        height: auto;
        margin-top: 0;
        flex-direction: column;
        }


        .navbarlinks{
        display: none ;
        width: 100%;
        height: auto;
        float: left;
        }

        .navbarlinks li{
       text-align: right;
        }

   .navbarlinks a{
    width: fit-content;
    margin: 10px 0 5px 10px;
   }

   .hamburger{
    display: flex;
   }


    .header-video video{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    position: center;
    padding-top: 100px;
    }

    .brand{
    font-size: 60px;
    width: 100%;
    height: auto;
    }

    .grid{
    flex-direction: column;
    }

    .grid-item{
    width: 100%;
}

.grid-item > video{
    width: 100%;
} 
    
    footer{
        height: 200px;
    }
}

/*stying for films*/

.box{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 5px 10px;
}

.grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-item{
    display: flex;
    flex-direction: column;
}

.grid-item video{
    width: 100%;
    padding: 2px 5px 2px 0;
} 

.title{
    display: inline-block;
    flex-direction: column-reverse;
}

/*about page*/
.container-about{
    width: 100%;
    background-color: #FFF;
    padding-top: 100px;
    padding-bottom: 70px;
}

.aboutme{
    line-height: 35px;
    text-align: center;
    font-family: rubik;
    color: rgb(56, 54, 54);
}

.booking-us{
    text-align: center;
    padding-top: 80px;
    text-transform: uppercase;
    font-family: rubik;
    font-weight: 600;
}

.email{
    text-align: center;
    padding-top: 20px;
    font-family: rubik;
    color: rgb(56, 54, 54);
}

.form-container2{
    width: 100%;
    height: fit-content;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form2{
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 7px;
    justify-content: center;
    font-family: rubik;
    text-transform: capitalize;
    font-size: 13px;
}

.input-group1{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group1 > input{
    height: 46px;
    border-color: #A9A9A9;
    border-width: 1px;
}

.form-container{
    width: 100%;
    height: 20rem;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: rubik;
    text-transform: lowercase;
    font-size: 12px;
    color: #A9A9A9;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.input-group > input{
    height: 46px;
    border-color: #A9A9A9;
    border-width: 1px;
}

.input-group > label > strong{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    color: black;
}

.input-group > select{
    height: 46px;
    border-color: #A9A9A9;
    border-width: 1px;
    font-size: 16px;
    font-family: rubik;
    text-transform: capitalize;
}

.button{
    background-color: #FFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 10px;
}

.submit{
    height: 46px;
    width: 125px;
    background-color: #FFF;
    color: black;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    font-family: rubik;
    text-transform: uppercase;
}

.submit:hover{
    background-color: rgb(21, 21, 21);
    color:  #FFF;
    border-color: #FFF;
}